server:
  port: 8080

spring:
  main:
    web-application-type: servlet

stats-server:
  url: http://stats-service:9090

logging:
  level:
    ru.practicum.ewm: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
      enabled: true