spring:
  datasource:
    url: jdbc:postgresql://stats-db:5432/stats
    username: stats
    password: stats
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

server:
  port: 9090

logging:
  level:
    stc.main.java.ru.practicum: INFO