spring:
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        show_sql: true
    show-sql: true

  h2:
    console:
      enabled: true

server:
  port: 9090

logging:
  level:
    stc.main.java.ru.practicum: DEBUG