server:
  port: 9090

spring:
  main:
    web-application-type: servlet

logging:
  level:
    ru.practicum.statsserver: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
      enabled: true