server:
  port: 8080

spring:
  jpa:
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
  sql:
    init:
      mode: always
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:6542/ewm-main
    username: dbuser
    password: 12345

logging:
  level:
    ru.practicum: DEBUG

ewm:
  stats-service:
    url: http://localhost:9090